<p>Ruby rocks. Hacking with a group of people rocks, it accelerates the learning curve. Cincinnati.rb provides a frequent Ruby hacking opportunity amongst friends to all those interested.</p>

<h2>Links</h2>

<ul>
  <li><%= link_to 'Google group', 'http://groups.google.com/group/cincinnatirb/' %></li>
  <li><%= link_to 'Members list', 'http://groups.google.com/group/cincinnatirb/members' %></li>
</ul>

<h2>About Ruby</h2>

<ul>
  <li><%= link_to 'Ruby Homepage', 'http://www.ruby-lang.org/en/' %></li>
  <li><%= link_to 'Try Ruby', 'http://tryruby.hobix.com/' %></li>
</ul>

