<table>
  <thead>
    <tr>
      <th>Topics</th>
      <th>Date</th>
      <th>Start</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% if @events.any? %>
      <% @events.each do |event| %>
        <tr>
          <td class="topic"><%= event.topic %></td>
          <td class="date"><%= event.pretty_date %></td>
          <td class="start_time"><%= event.start_time %></td>
          <td class="duration"><%= event.pretty_duration %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
